.intro {
  text-align: center;
}
body {
  background-image: url(../images/laptop.jpg);
  color: rgb(170, 169, 169);
  background-repeat: no-repeat;
  background-size: cover;
}
#submit {
  color: black;
}